doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    base(href='/')
    title= "Releases"
    link(
      rel='stylesheet',
      href='https://fonts.googleapis.com/icon?family=Material+Icons'
    )
    link(
      rel='stylesheet',
      href='https://code.getmdl.io/1.1.1/material.indigo-pink.min.css'
    )

  body(ng-app='releaseApp', ng-cloak)
    div(class='mdl-layout mdl-js-layout mdl-layout--fixed-header')
      header(class='mdl-layout__header')
        div(class='mdl-layout__header-row')
          span(class='mdl-layout-title') Releases
          div(class='mdl-layout-spacer')
          nav(class='mdl-navigation mdl-layout--large-screen-only')
            a(class='mdl-navigation__link') Create Release
            a(class='mdl-navigation__link') Link
            a(class='mdl-navigation__link') Link
            a(class='mdl-navigation__link') Link
      div(class='mdl-layout__drawer')
        span(class='mdl-layout-title') Releases
        nav(class='mdl-navigation')
          a(class='mdl-navigation__link') Link
          a(class='mdl-navigation__link') Link
          a(class='mdl-navigation__link') Link
          a(class='mdl-navigation__link') Link
    div(class='container', ng-view)

  script(src='https://code.getmdl.io/1.1.1/material.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.min.js')
  script(src='https://cdn.firebase.com/js/client/2.2.1/firebase.js')
  script(src='https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js')
  script(src='/javascripts/releases-config.js')
  script(src='/javascripts/releases-controllers.js')
  script(src='/javascripts/releases-services.js')
  script(src='/javascripts/releases.js')
